@model LearnIt.Models.Topic

<h1> Afisare Topic</h1>
<br />
<br />

@if (TempData["Message"] != null)
{
    <div class="tempdata">@TempData["Message"]</div>
}

<div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body p-3">
        <h3 class="card-title">@Model.Title</h3>
        <p class="card-text">@Html.Raw(@Model.Description)</p>
        <p class="card-text">@Model.DateTime </p>

        @if (ViewBag.ELogat == true)
        {

            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <div class="card-body">
                    @using (Html.BeginForm(actionName: "Show", controllerName: "Topics", method: FormMethod.Post))
                    {
                        @Html.Label("Content", "Adauga un comentariu")
                        <br />
                        @Html.TextBox("Content")
                        @Html.ValidationMessage("Content", null)
                        <br />
                        <input type="hidden" name="TopicId" value="@Model.Id" />

                        <br />


                        <button type="submit" class="btn btn-success">Adauga comentariul</button>
                    }
                </div>
            </div>


        }
    </div>

    @if (Model.Comments.Count > 0)
    {

        <div class="m-3">

            @using (Html.BeginForm(actionName: "Show", controllerName: "Topics", method: FormMethod.Get, routeValues: new { TopicId = @Model.Id, filterBy = "TotalLikes" }))
            {
                <input type="hidden" name="filterBy" value="TotalLikes" />
                <button type="submit" class="btn btn-outline-secondary">Sorteaza dupa numarul de like uri</button>
            }

            <br />

            @using (Html.BeginForm(actionName: "Show", controllerName: "Topics", method: FormMethod.Get, routeValues: new { TopicId = @Model.Id, filterBy = "DateTime" }))
            {
                <input type="hidden" name="filterBy" value="DateTime" />
                <button type="submit" class="btn btn-outline-secondary">Sorteaza dupa data comentariului</button>
            }

    </div>
    }

    @foreach (var comentariu in @Model.Comments)
    {

        <div class="card m-3 shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <div class="card-body">
            <p>@comentariu.Content</p>
            <p>@comentariu.DateTime</p>

            @if (ViewBag.UserCurent == comentariu.AuthorId || ViewBag.EsteAdmin == true)
            {
                <a href="/Comments/Delete/@comentariu.Id" class="btn btn-danger">Sterge comenariul</a>
                    <br />
                    <br />

            }

            @if (ViewBag.UserCurent == comentariu.AuthorId)
            {
                   
                <a href="/Comments/Edit/@comentariu.Id" class="btn btn-secondary">Editeaza comentariul</a>
                <br />
                <br />
            }

            @if (ViewBag.ELogat == true)
            {
                @using (Html.BeginForm(actionName: "ChangeLike", controllerName: "Likes", method: FormMethod.Post, routeValues: new { TopicId = @Model.Id, CommentId = comentariu.Id }))
                {
                    <button type="submit" class="btn btn-light"><i class="bi bi-hand-thumbs-up"></i>@comentariu.TotalLikes</button>


                }
            }
            else
            {
                <i class="bi bi-hand-thumbs-up"></i>

                @comentariu.TotalLikes
            }
        </div>
    </div>
    }

    <div class="m-3">
    @if (ViewBag.UserCurent == Model.AuthorId)
        {
            <br />
            <a href="/Topics/Edit/@Model.Id" class="btn btn-secondary">Editeaza Topic-ul</a>
        }

        @if (ViewBag.UserCurent == Model.AuthorId || ViewBag.EsteAdmin == true)
        {
        <br />
        <br />
        <a href="/Topics/Delete/@Model.Id" class="btn btn-danger">Sterge Topic-ul</a>
        <br />
        }
    </div>
</div>




<br />
<a href="/Topics/Index" class="btn btn-outline-primary">Inapoi la toate topic-urile</a>

